@model HW3Project.Models.Item

<!--Submission form for grocery list-->
<div class="container indexContainer">
    <div class="row titleRow">
        <h1 class="header">Grocery List</h1>
    </div>
    <div class="row indexRow">
        <div class="col-md-3"></div>
        <div class="col-md-6 formCol">
            <h3>Add Items Here</h3>
            <form asp-controller="Home" asp-action="AddItem" method="post" id="addForm">
                <div asp-validation-summary="All"></div>
                <div class="fVal">
                    <label>Item name:</label>
                    <input asp-for="Name" name="Name" />
                </div>
                <div class="fVal">
                    <label>Quantity:</label>
                    <input asp-for="Quantity"  name="Quantity" />
                </div>
                <div class="fVal">
                    <label>Category:</label>
                    <select asp-for="Category" name="Category">
                        <option disabled selected value="">Select Category</option>
                        <option value="Produce">Produce</option>
                        <option value="Dairy">Dairy</option>
                        <option value="Grains">Grain</option>
                        <option value="Frozen">Frozen</option>
                        <option value="Meat">Meat</option>
                        <option value="Baking">Baking</option>
                        <option value="Canned Goods">Canned Goods</option>
                        <option value="Misc">Misc</option>
                    </select> 
                </div>
                <button type="submit" id="abutton">Add Item</button>
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>
</div>
